name: todo

on:
  push:
    branches: [master,main]

jobs:
  todo:
    runs-on: ubuntu-latest
    steps:
    -
      uses: actions/checkout@v5
    -
      name: Check Todos
      uses: ribtoks/tdg-github-action@master
      with:
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
        REPO: ${{ github.repository }}
        SHA: ${{ github.sha }}
        REF: ${{ github.ref }}
